    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile_150px.png" alt="">
                    <div class="intro-text">
                      <span class="name">Skanderup lab</span>
                      <p style="color:black">@ Genome Institute of Singapore</p>
                      <!--<br><p style="color:#333"><i>Interested in computational biology, big data, medical genomics, cancer, and/or non-coding DNA?</i> <a href="jobs_april_2015.html" class='txt'>Positions available</a> </p> -->
                   </div>
                </div>
            </div>
        </div>
    </header>
