    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile_150px.png" alt="">
                    <div class="intro-text">
                      <span class="name">Skanderup lab</span>
                      <p style="color:black">@ Genome Institute of Singapore</p>
                      <br><p style="color:#fff">Interested in precision medicine, web development, and data visualization? <a href="bioinfo_specialist_apr2018.pdf" class='txt'>Positions open (April 2018)</a>
                      <br><p style="color:#fff">Exploring a PhD in computational cancer genomics? <a href="https://www.a-star.edu.sg/Scholarships/For-Graduate-Studies/Overview.aspx" class='txt'>Apply here</a> </p>
                   </div>
                </div>
            </div>
        </div>
    </header>
