    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile_150px.png" alt="">
                    <div class="intro-text">
                      <span class="name">Skanderup lab</span>
                      <p style="color:black">@ Genome Institute of Singapore</p>
                      <br><p style="color:#fff">Interested in Data Science and Precision Oncology? <a href="Skandlab_jobs_Jan2020.pdf" class='txt'>Postdoc and data analyst positions open (January 2020)</a>
                   </div>
                </div>
            </div>
        </div>
    </header>
