<section id="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <h2>What's new</h2>
        <hr class="star-primary">

        <div class="col-lg-6"> 
          <script type="module" src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async></script>
          <bsky-embed username="vincentwill.com" mode="dark" limit="5"></bsky-embed>  
        </div>
        <div class="col-lg-6"> 
        </div>

      </div>
    </div>
  </div>
</section>
