<section id="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <h2>What's new</h2>
        <hr class="star-primary">

        <div class="col-lg-6"> 
          <a class="twitter-timeline" data-width="500" data-height="500" data-theme="dark" href="https://twitter.com/anders_js/likes?ref_src=twsrc%5Etfw">Tweets Liked by @anders_js</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-lg-6"> 
          <a class="twitter-timeline" data-width="500" data-height="500" data-theme="dark" href="https://twitter.com/anders_js?ref_src=twsrc%5Etfw">Tweets by anders_js</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        
      </div>
    </div>
  </div>
</section>
