<section id="people" class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <h2>People</h2>
        <hr class="star-light">

        <div class="col-sm-12" align="left" style="margin-top:20px">
          <img class="img-location" src="img/GuoAmandaYu.jpeg" alt="" align="left" style="margin-right:20px"><br>
          <b>Yu Amanda Guo</b> (PostDoc)<br>
           PhD in bioinformatics and statistical genetics from Cornell University, USA.</i>
        </div>

        <div class="col-sm-12" align="left" style="margin-top:20px">
          <img class="img-location" src="img/umesh.jpg" alt="" align="left" style="margin-right:20px"><br>
          <b>Umesh Ghoshdastider</b> (PostDoc)<br>
           PhD in biochemistry and bioinformatics from Goethe University, Germany.</i>
        </div>

        <div class="col-sm-12" align="left" style="margin-top:20px">
          <img class="img-location" src="img/MeiMeiChang.jpg" alt="" align="left" style="margin-right:20px"><br>
          <b>Mei Mei Chang</b> (Bioinformatics Analyst)<br>
          Bachelor in biostatistics from National University of Singapore.</i>
        </div>

        <div class="col-sm-12" align="left" style="margin-top:20px">
          <img class="img-location" src="img/weitai2.png" alt="" align="left" style="margin-right:20px"><br>
          <b>Weitai Huang</b> (Graduate student)<br>
          A*STAR/NUS graduate student.</i>
        </div>

        <div class="col-sm-12" align="left" style="margin-top:20px">
          <img class="img-location" src="img/marjan2.png" alt="" align="left" style="margin-right:20px"><br>
          <b>Marjan Mojtabavi Naeini</b> (Graduate student)<br>
          A*STAR ARAP fellow.</i>
        </div>

        <div class="col-sm-12" align="left" style="margin-top:20px">
           <img class="img-location" src="img/AndersSkanderup.jpg" alt="" align="left" style="margin-right:20px"><br>
           <b>Anders Jacobsen Skanderup</b> (Principal Investigator)<br>
            PI at Genome Institute of Singapore and adj. assistant professor at School of Computing, National University of Singapore. Has a PhD in bioinformatics from University of Copenhagen, Denmark, and a Postdoc from Memorial Sloan-Kettering Cancer Center, USA.
        </div>

        <div class="col-sm-12" align="left" style="margin-top:20px">
          <img class="img-location" src="img/alumni.png" alt="" align="left" style="margin-right:20px"><br>
          <b>Current interns</b><br>
          - Tanmay Kulshrestha, Birla ITS
        </div>

        <div class="col-sm-12" align="left" style="margin-top:20px">
          <img class="img-location" src="img/alumni.png" alt="" align="left" style="margin-right:20px"><br>
          <b>Past lab members</b><br>
          - Karthik MuthuKumar, Northeastern University, Boston<br>
          - Tin Nguyen, University of Science, HCM City<br>
          - Sundar Solai, SIPGA scholar, Harvard University<br>
          - Probhonjon Baruah, Indian Institute of Technology, Guwahati
        </div>

      </div>
    </div>
  </div>
</section>
