<section id="people" class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>People</h2>
        <hr class="star-light">

        <div class="footer-col col-md-8">
          <br>
          <ul class="list-inline">
            <li>
              <img class="img-location" src="img/AndersSkanderup.jpg" alt="">
              <br><b>Principal Investigator</b><br>Anders Jacobsen Skanderup <a class="white" href="http://www.a-star.edu.sg/gis/curriculum-vitae.aspx?user_id=183&f=cv&gen_pdf=1">(CV)</a><br><i>PhD University of Copenhagen, Denmark</i>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>
