<section id="people" class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <h2>People</h2>
        <hr class="star-light">
        
        <div class="col-sm-12" align="left" style="margin-top:20px">
          <img class="img-location" src="img/GuoAmandaYu.jpeg" alt="" align="left" style="margin-right:20px"><br>
          <i>PostDoc</i><br>
          <b>Yu Amanda Guo</b> has a PhD in Bioinformatics from Cornell University, USA.</i>
        </div>



        <div class="col-sm-12" align="left" style="margin-top:20px">
          <img class="img-location" src="img/MeiMeiChang.jpg" alt="" align="left" style="margin-right:20px"><br>
          <i>Bioinformatics Analyst</i><br>
          <b>Mei Mei Chang</b> has a Bachelor in Biostatistics from National University of Singapore.</i>
        </div>

        <div class="col-sm-12" align="left" style="margin-top:20px">
           <img class="img-location" src="img/AndersSkanderup.jpg" alt="" align="left" style="margin-right:20px"><br>
           <i>Principal Investigator</i><br>
           <b>Anders Jacobsen Skanderup</b> has a PhD in Bioinformatics from University of Copenhagen, Denmark, and has been a Postdoc at Memorial Sloan-Kettering Cancer Center, USA.
        </div>

      </div>
    </div>
  </div>
</section>
