<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr class="star-primary">
        <p style="text-align:left">
          Selected publications
          <ul style="text-align:left; font-size:85%;">
          <li>Hakimi A *, Tickoo S *, <b>Jacobsen A *</b>, et al., <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/25676555">TCEB1-mutated renal cell carcinoma: a distinct genomic and morphological subtype</a>, <b>Modern Pathology</b>, 2015.</li>
          <li>Weinhold N *, <b>Jacobsen A *</b>, Schultz N, Sander C, Lee W, <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/25261935">Genome-wide analysis of noncoding regulatory mutations in cancer.</a> <b>Nature Genetics</b>, 2014.</li>
          <li><b>Jacobsen A #</b>, Silber J, Harinath G, Huse J, Schultz N, Sander C, <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/24096364">Analysis of microRNA target interactions across diverse cancer types</a>, <b>Nature Structural & Molecular Biology</b>, 2013.</li>
          <li>Rasmussen S *, <b>Jacobsen A *</b>, Krogh A, <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/23688306">cWords – systematic microRNA regulatory motif discovery from mRNA expression data</a>, <b>Silence</b>, 2013.</li>
          <li>Creighton C *, Hernandez A *, <b>Jacobsen A *</b>, et al., <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/22479643">Integrated analyses of microRNAs demonstrate their widespread influence on gene expression in ovarian carcinoma</a>, <b>PLoS ONE</b>, 2012.</li>
          <li><b>Jacobsen A</b>, Wen J, Marks DS, Krogh A, <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/20508147">Signatures of RNA binding proteins globally coupled to effective microRNA target sites</a>, <b>Genome Research</b>, 2010.</li>
          <li><b>Jacobsen A #</b>, Krogh A, Kauppinen S, Lindow M #, <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/20074352">miRMaid: a general programming interface for microRNA data resources</a>, <b>BMC Bioinformatics</b>, 2010.</li>
          <li>Lindow M *, <b>Jacobsen A *</b>, Nygaard S, Mang Y, Krogh A, <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/18052543">Intragenomic matching reveals a huge potential for miRNA-mediated regulation in plants</a>, <b>PLoS Computational Biology</b>, 2007.</li>
          <span style="font-size:80%"><i>* equal contribution, # corresponding author</i></span>
          </ul>
        </p>
        <p>See <a class="txt" href="https://scholar.google.com/citations?user=r06O54MAAAAJ&hl=en">Google Scholar</a> for a complete list of publications.</p>
      </div>
    </div>
  </div>
</section>
