<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr class="star-primary">
        <p style="text-align:left">
          Selected publications
          <ul style="text-align:left; font-size:85%;">
          <li><b>Huang W</b>, ..., <b>Skanderup A</b>, <a class="txt" href="https://academic.oup.com/bioinformatics/article/35/17/3157/5288515">Data-driven inference of crosstalk in the tumor microenvironment</a>, <b>BioRxiv</b>, 2019. (preprint)</li>
          <li>Chen J, ..., <b>Skanderup A</b>, ..., Zhai W, <a class="txt" href="https://www.nature.com/articles/s41588-019-0569-6">Genomic landscape of lung adenocarcinoma in East Asians</a>, <b>Nature Genetics</b>, 2020.</li>
          <li>Ooi WF, , ..., <b>Skanderup A</b>, Tan P, <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/28408461">Integrated paired-end enhancer profiling and whole-genome sequencing reveals recurrent CCNE1 and IGF2 enhancer hijacking in primary gastric adenocarcinoma</a>, <b>Gut</b>, 2019.</li>
          <li><b>Huang W</b>, ..., <b>Skanderup A</b>, <a class="txt" href="https://academic.oup.com/bioinformatics/article/35/17/3157/5288515">SMuRF: Portable and accurate ensemble-based somatic variant calling</a>, <b>Bioinformatics</b>, 2019.</li>
          <li><b>Guo Y</b>, ..., <b>Skanderup A</b>, <a class="txt" href="https://doi.org/10.1038/s41467-018-03828-2">Mutation hotspots at CTCF binding sites coupled to chromosomal instability in gastrointestinal cancers</a>, <b>Nature Communcations</b>, 2018.</li>
          <li>Tan D, ..., <b>Skanderup A</b>, DasGupta R, Iyer G, <a class="txt" href="https://www.nature.com/articles/nm.4401">Long noncoding RNA EGFR-AS1 mediates epidermal growth factor receptor addiction and modulates treatment response in squamous cell carcinoma</a>, <b>Nature Medicine</b>, 2017.</li>
          <li>Hu S, Quin M, Zhang H, <b>Guo Y</b>, ..., <b>Skanderup A</b>, Yang JJ, <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/28408461">Whole-genome non-coding sequence analysis in T-cell acute lymphoblastic leukemia identifies oncogene enhancer mutations</a>, <b>Blood</b>, 2017.</li>
          <li>Hakimi A, Tickoo S, <b>Jacobsen A</b>, et al., <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/25676555">TCEB1-mutated renal cell carcinoma: a distinct genomic and morphological subtype</a>, <b>Modern Pathology</b>, 2015.</li>
          <li>Weinhold N, <b>Jacobsen A</b>, et al., <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/25261935">Genome-wide analysis of noncoding regulatory mutations in cancer.</a> <b>Nature Genetics</b>, 2014.</li>
          <li><b>Jacobsen A</b>, et al., <a class="txt" href="http://www.ncbi.nlm.nih.gov/pubmed/24096364">Analysis of microRNA target interactions across diverse cancer types</a>, <b>Nature Structural & Molecular Biology</b>, 2013.</li>
          </ul>
        </p>
        <p>See <a class="txt" href="https://scholar.google.com/citations?user=r06O54MAAAAJ&hl=en">Google Scholar</a> for a complete list of publications.</p>
      </div>
    </div>
  </div>
</section>
