 <!-- About
Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                  <p style="text-align:justify">
                    <b>Computational Cancer Genomics</b><br>We are a computational biology group at Genome Institute of Singapore (GIS). We are particularly interested in developing and applying relevant computational and statistical approaches to solve emerging problems in cancer research. To accomplish this we work closely with excellent clinical research groups in Singapore and abroad.
                  </p>
              </div>
              <div class="col-lg-4">
                <p style="text-align:justify">
                  <b>Non-coding Cancer Genome</b></br>Non-protein-coding regulatory elements and transcripts take up a large fraction of the human genome, but their function and disease relevance are not well understood. We use computational approaches to identify and characterize cancer-causing non-coding elements from large cohorts of tumor genomes and molecular profiles.
                </p>
              </div>
              <div class="col-lg-4">
                <p style="text-align:justify">
                  <b>Cancer Systems Biology</b><br>Signaling between cancer and non-malignant (stromal) cells of the tumor microenvironment is critical in many aspects of solid tumor progression. However, there is currently a lack of approaches to study this phenomenon at scale in patient tumors. We are developing integrated experimental and computational techniques to study such systems.
                </p>
              </div>
            </div>
        </div>
    </section>
