 <!-- About
Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                  <p style="text-align:justify">
                    <b>Computational Precision Oncology</b><br>We develop and apply computational approaches to study how anti-cancer drugs work in patients. We study how tumors become resistant to treatments, and how to use machine learning approaches to predict the optimal treatment for each patient. To accomplish this, we work closely with excellent clinical research groups in Singapore and abroad.
                  </p>
              </div>
              <div class="col-lg-4">
                <p style="text-align:justify">
                  <b>Cancer Liquid Biopsy</b></br>Profiling of circulating tumor DNA (ctDNA) in blood offers a non-invasive approach to detect cancer and monitor disease progression. By profiling ctDNA over time, we study how tumors respond to treatments and build predictive models for clinical decision support. We are building a national-scale database of cancer liquid biopsy samples.
                </p>
              </div>
              <div class="col-lg-4">
                <p style="text-align:justify">
                  <b>Tumor Systems Biology</b><br>Signaling between cancer and non-malignant cells of the tumor microenvironment is critical in many aspects of tumor progression. However, there is a lack of approaches to study this phenomenon at scale in tumors. We are developing integrated experimental and computational techniques to study tumors at a systems level.
                </p>
              </div>
            </div>
        </div>
    </section>
