 <!-- About 
Section -->
    <section id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Research</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                  <p style="text-align:justify">
                    <b>Computational cancer genomics</b><br>We are a computational biology group at Genome Institute of Singapore (GIS). We are particularly interested in developing and applying relevant computational and statistical approaches to solve emerging problems in cancer research.
                  </p>
              </div>
              <div class="col-lg-4">
                <p style="text-align:justify">
                  <b>Integrative approach</b><br>Our focus is especially on integrated clinical, experimental, and computational approaches to solve important challenges in medical genomics, especially cancer diagnosis and treatment. We accomplish this in close collaboration with excellent experimental and clinical groups at GIS and in Singapore.
                </p>
              </div>
              <div class="col-lg-4">
                <p style="text-align:justify">
                  <b>Deciphering the non-coding genome</b></br>Non-protein-coding regulatory elements and transcripts take up a large fraction of the human genome, but their function and disease relevance are not well understood. We use computational approaches to identify and characterize cancer-causing non-coding elements from rich tumor molecular profiles.
                </p>
              </div>


            </div>
        </div>
    </section>
